body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.class center{
    
    
    width:50%;
    height:100%;
    padding-left: 960px;;
}
    